h1 {
    text-align: center;
    color: red;
}

h2 {
    text-align: center;
}

ul {
    text-align: center;
    width: 100%;
    margin: 0 0 0 0;
    padding: 0 0 20px 0;
}

li {
    display: inline;
    margin: 0 20px 0 20px;
}

a {
    color: black;
    text-decoration: none; /* no underline */
  }

#cover {
    text-align: center;
}

#coverImg {
    width: 99%;
}

#showcase {
    text-align: center;
}

.showcaseImg {
    margin: 10px 10px;
}

/*form*/

#formArea {
    padding: 2px 0 30px 0;
    background: rgb(51, 50, 50);
}

#formArea h2 {
    color: white;
}

#searchForm {
    text-align: center;
}

select {
    font-size: 25px;
    margin: 10px;
    padding: 5px 15px;
}

#searchbtn {
    font-size: 25px;
    margin: 10px;
    padding: 5px 15px;
}

/*About*/
#aboutTxt {
    margin: 0 40px;
    text-align: justify;
    font-size: 20px;
}

/*Contact*/
#contactForm {
    font-size: 25px;
    margin: 0 auto; 
    width:500px;
}

#contactForm input, textarea {
    font-size: 25px;
    margin: 10px;
    width: 100%;
}

label {
    text-align: left;
}

#contactbtn {
    font-size: 25px;
    width: 20%;
}

/* footer */
#pfoot {
    text-align: center;
    color: white;
    background: gray;
    padding: 30px;
}